@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  caret-color: transparent;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #FF87A5;
}